# 4.6 - Combining & Exporting Data Part 1

### Table of Contents

* [Importing Libraries and Dataframes](#import_libraries)
* [Merging Orders Prior dataframe with Orders dataframe](#merge)
*[Tasks for Exercise 4.6](#task_4_6)
    * [Step 2](#step2)
    * [Step 3](#step3)
    * [Checking the shape of merged dataframe for step 4](#step4)

# Importing Libraries and Dataframes <a class="anchor" id="import_libraries"></a>

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Creating path variable for shortcuting folderpath for importing/exporting
path = r'/Users/kerimzengin/Desktop/Data Analytics/Data Analytics Immersion/Achievement 4 - Python Fundamentals for Data Analysts/Instacart Basket Analysis/Data'

In [3]:
#Importing orders_checked.csv as df_ords dataframe
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked1.csv'), index_col = False)

In [4]:
#Importing order_products__prior.csv as df_ords_prior dataframe
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data', 'order_products__prior.csv'), index_col = False)

# Merging Orders Prior dataframe with Orders dataframe <a class="anchor" id="merge"></a>

In [5]:
#Check the output for df_ords_prior dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
#Check the output for df_ords dataframe
df_ords.head(30)

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order
0,1,1,2398795,1,prior,2,3,7,15.0
1,2,2,473747,1,prior,3,3,12,21.0
2,3,3,2254736,1,prior,4,4,7,29.0
3,4,4,431534,1,prior,5,4,15,28.0
4,5,5,3367565,1,prior,6,2,7,19.0
5,6,6,550135,1,prior,7,1,9,20.0
6,7,7,3108588,1,prior,8,1,14,14.0
7,8,8,2295261,1,prior,9,1,16,0.0
8,9,9,2550362,1,prior,10,4,8,30.0
9,10,10,1187899,1,train,11,4,8,14.0
10,12,12,1501582,2,prior,2,5,10,10.0
11,13,13,1901567,2,prior,3,1,10,3.0
12,14,14,738281,2,prior,4,2,10,8.0
13,15,15,1673511,2,prior,5,3,11,8.0
14,16,16,1199898,2,prior,6,2,9,13.0
15,17,17,3194192,2,prior,7,2,12,14.0
16,18,18,788338,2,prior,8,1,15,27.0
17,19,19,1718559,2,prior,9,2,9,8.0
18,20,20,1447487,2,prior,10,1,11,6.0
19,21,21,1402090,2,prior,11,1,10,30.0
20,22,22,3186735,2,prior,12,1,9,28.0
21,23,23,3268552,2,prior,13,4,11,30.0
22,24,24,839880,2,prior,14,3,10,13.0
23,25,25,1492625,2,train,15,1,11,30.0
24,27,27,444309,3,prior,2,3,19,9.0
25,28,28,3002854,3,prior,3,3,16,21.0
26,29,29,2037211,3,prior,4,2,18,20.0
27,30,30,2710558,3,prior,5,0,17,12.0
28,31,31,1972919,3,prior,6,0,16,7.0
29,32,32,1839752,3,prior,7,0,15,7.0

In [7]:
#Checking the shape of Orders dataframe
df_ords.shape

(3214874, 9)

In [8]:
#Merging Orders Prior dataframe with Orders dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
#Checking if the merge was completed successfully
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,order_days_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,1,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,1,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,1,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [10]:
#Checking the frequency count for the _merge column if full merge
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

# Tasks for Exercise 4.6 <a class="anchor" id="task_4_6"></a>

# 2. Export the merged file in pickle format as “orders_products_combined.pkl”. <a class="anchor" id="step2"></a>

In [11]:
#Exporting merged dataframe as a pickle file to the Prepared data folder
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

# 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved. <a class="anchor" id="step3"></a>

In [13]:
print('done')

done

### Checking the shape of merged dataframe for step 4. <a class="anchor" id="step4"></a>

In [14]:
df_merged_large.shape

(30356421, 13)